.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}



.font-medium {
    font-weight: 500;
}
.text-xl {
    font-size: 1.25rem;
}
.text-lg, .text-xl {
    line-height: 1.75rem;
}
.bg-primary-50 {
    --tw-bg-opacity: 1;
    background-color: rgba(255,239,221,var(--tw-bg-opacity));
}
.rounded-md {
    border-radius: 0.375
rem
;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.cursor-pointer {
    cursor: pointer;
}
.w-40 {
    width: 10
rem
;
}
.h-40 {
    height: 10
rem
;
}
.flex {
    display: flex;
}
.mx-4 {
    margin-left: 1
rem
;
    margin-right: 1
rem
;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a {
    text-decoration: none;
}



